<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>这个是当前页的标题</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">主页</a>
			</li>
			<li>
				<a>日期组件</a>
			</li>
			<li class="active">
				<strong>日期组件示例</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
		<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content table-responsive">
					<table border="" cellspacing="" cellpadding="">
						<tr>
							<th>Header</th>
							<input type="checkbox" grid-selection="all" grid-selection-id="resourceId" grid-selection-rows="rows" ng-model="datagrid.selectionAll">
						</tr>
						<tr>
							<td>Data1</td>
							<input type="checkbox" grid-selection grid-selection-id="resourceId" grid-selection-row="row" ng-model="row.selected" >
						</tr>
						<tr>
							<td>Data2</td>
							<input type="checkbox" grid-selection grid-selection-id="resourceId" grid-selection-row="row" ng-model="row.selected" >
						</tr>
					</table>
		           
gridSelectiony已在全局引入
				</div>
			</div>
		</div>
	</div>
</div>