<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">

				<div class="profile-element" uib-dropdown>
					<img alt="image" class="img-circle" src="../img/profile_small.jpg" />
					<a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">快来学模板库</strong>
                             </span>
                                <span class="text-muted text-xs block">切换皮肤<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a href="../index.html">快来学整体库</a></li>
                        <li><a href="templatelibrary/index.html">快来学模板库</a></li>
                    </ul>
				</div>
				<div class="logo-element">IN+</div>
			</li>
			<li ng-class="{active: $state.includes('dashboards')}">
                <a href="index.html">
                	<i class="fa fa-th-large"></i> 
                	<span class="nav-label">{{ 'DASHBOARD' | translate }}</span> 
                	<span class="fa arrow"></span>
                </a>
            </li>
			<li ng-class="{active: $state.includes('dateComponent')}" >
				<a href="">
					<i class="glyphicon glyphicon-gift"></i> 
					<span class="nav-label">时间控件</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dateComponent')}">
					<li ui-sref-active="active">
						<a ui-sref="dateComponent.datatime">
							单个时间
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="dateComponent.daterangepicker">
							时间范围
						</a>
					</li>
				</ul>
				<!--<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.StandardList"
						href="/frontendtemplateStandardList/">树形下拉选择</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.uploading"
						href="/frontendtemplateuploading/">文件上传</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.uiselect"
						href="/frontendtemplateuiselect/">图片上传</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treegrid"
						href="/frontendtemplatetreegrid/">下拉选择（非树）</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.textedit"
						href="/frontendtemplatetextedit/">树</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.classify"
						href="/frontendtemplateclassify/">富文本</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.sortable"
						href="/frontendtemplatesortable/">拖拽排序</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treemenu"
						href="/frontendtemplatetreemenu/">三级分类</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.uitab" href="/frontendtemplateuitab/">Tab</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.uitabtasty"
						href="/frontendtemplateuitabtasty/">文件大小格式化</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treemenutable"
						href="/frontendtemplatetreemenutable/">百度文件动态加载</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treemenutable"
						href="/frontendtemplatetreemenutable/">值修改</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treemenutable"
						href="/frontendtemplatetreemenutable/">图表</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treemenutable"
						href="/frontendtemplatetreemenutable/">分页</a></li>
				</ul>
				<ul class="nav nav-second-level collapse in"
					ng-class="{in: $state.includes('frontendtemplate')}">
					<li ui-sref-active="active"><a
						ui-sref="frontendtemplate.treemenutable"
						href="/frontendtemplatetreemenutable/">全选</a></li>
				</ul>-->
			</li>
		</ul>

	</div>
</nav>