<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>这个是当前页的标题</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">这里是主页</a>
			</li>
			<li>
				<a>这里是一级菜单名</a>
			</li>
			<li class="active">
				<strong>这里是二级菜单名</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
		<!-- 这里为留白区域如无特殊用途，请勿在此处填写内容-->
	</div>
</div>
<!--ng-tabs direcrive start-->
<ng-tabs class="tabs-container" tabs-contrl="tabContrl">
	<ul class="nav nav-tabs" >
       <li ng-tab-head="on">
           <a>Tab 1</a>
       </li>
       <li ng-tab-head>
           <a>Tab 2</a>
       </li>
       <li ng-tab-head>
           <a>Tab 3</a>
       </li>
       <li ng-tab-head>
           <a>Tab 4</a>
       </li>
   </ul>
   <div class="tab-content">
       <div ng-tab-body class="tab-pane">
           <div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<div>
										<h3>支持场景</h3>
										<p>1.支持自定义上一步、下一步。</p>
									  	<p>2.支持tab头点击切换和禁用。</p>
									</div>
									<div>
										<h3>使用方法</h3>
										<p>1.UIState中引用asserts/js/plugin/ngtab/tabs.js</p>
										<p>2.增加tabs模块的引用</p>
										<p>3.根据自定义需求完成tab html内容，可以参考本页面：ng-tabs便签内容</p>
										<p>
											4.ng-tabs指令中，包含tabs-contrl参数，包含了切换和禁用tab头功能。具体使用方式为:<br>
											<code>
												//controller定义  <br>
												$scope.tabContrl = {
														"showBtn":true,
														"tabsHeaderSwitch":true
												};<br>
												tabs-contrl="tabContrl"//html 元素
											</code>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
       </div>
       <div ng-tab-body class="tab-pane">
           <div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p>tab2详细信息</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
       </div>
       <div ng-tab-body class="tab-pane">
           <div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p>tab3详细信息</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
       </div>
       <div ng-tab-body class="tab-pane">
           <div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p>tab4详细信息</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
       </div>
   </div>
   <div class="modal-footer" ng-show="tabContrl.showBtn">
	   	<div class="control-group pull-right">
	       <button class="btn btn-danger" ng-click="tabs.index = 1">Select first tab</button>
	       <button class="btn btn-warning" ng-click="tabs.index = 2">Select second tab</button>
	       <button class="btn btn-primary" ng-click="preTab()" ng-disabled="tabs.index == 1">Prev tab</button>
       	   <button class="btn btn-primary" ng-click="nextTab()" ng-disabled="tabs.index == tabs.count" >Next tab</button>
	   </div>
   </div>
</ng-tabs>
<!--ng-tabs direcrive end-->

<!--无下一步自由切换tab start-->
<div class="tabs-container">
	<uib-tabset>
		<!-- 课程基本信息页签 -->
		<uib-tab heading="基本信息"  >
			<div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p><h3>该模板支持以下功能及使用说明<h3>
								  	<p>1.支持有下一步和没有下一步俩种模板</p>
								  	<h3 style="color: red;">bug和缺陷</h3>
									<p>1.下一步通过jquery实现，同时导致使用下一步时不能点击上面页签切换</p>
									<p>2.tab里面使用指令时作用域可能存在问题（未掌握）</p>
								    </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="封面图片"  >
			<div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p>封面图片封面图片封面图片封面图片封面图片封面图片封面图片封面图片封面图片</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="章节学时"   >
			<div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p>节学时章节学时章节节学时章节学时</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="详细文字">
			<div class="panel-body ">
				<div class="wrapper  animated fadeInRight">
					<div class="row">
						<div class="col-lg-12 ">
							<div class="ibox float-e-margins">
								<div class="ibox-content">
									<p>详细文字详细文字详细文字详细文字详细文字详细文字详细文字</p>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>	
<!--无下一步自由切换tab end-->
